.nav-bar {
  grid-template-columns: auto auto auto;
  min-height: 6.25rem;
}

.nav-bar-logo {
  grid-column: 1;
  justify-self: start;
  align-self: center;
  line-height: 0;
}

.nav-bar-logo img {
  max-width: 15.625rem;
}

.nav-bar-stack {
  grid-column: 2;
  display: none;
  cursor: pointer;
  color: #495E57;
  transition: background-color 0.5s;
}

.nav-bar-stack a:hover {
  color: #F4CE14;
}

.nav-bar-links {
  grid-column: 3;
  display: flex;
  justify-content: right;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  transition: left 0.3s;
}

.nav-bar-links.expanded {
  left: 0;
}

.nav-bar-links li {
  display: flex;
}

.nav-bar-links a {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.5s;
  font-weight: 900;
}

.current-location, 
.nav-bar-links a:hover, 
.nav-bar-links a:focus {
  -webkit-text-stroke-width: 0.55px;
  -webkit-text-stroke-color:  #F4CE14;
}

@media only screen and (max-width: 992px) {
  .nav-bar {
    grid-template-columns: auto auto;
  }

  @media only screen and (max-width: 992px) {
    .nav-bar {
      grid-template-columns: auto auto;
    }
  }
  
    @media only screen and (max-width: 992px) {
      .current-location, 
      .nav-bar-links a:hover, 
      .nav-bar-links a:focus  {
          color: #F4CE14;
          text-decoration-color:  #F4CE14;
      }
    }
  
      .nav-bar .expanded {
        background-color: #495E57;
      }
  
    ul.nav-bar-links.expanded {
      border-bottom-right-radius: 2%;
      border-top-right-radius: 2%;
    }
  
  
    /* HIDDEN NAV BAR LINK QUERIES TO AVOID OVERLAP */

  /* HIDDEN NAV BAR LINK QUERIES TO AVOID OVERLAP */



  @media only screen and (max-width: 285px) {
    .nav-bar-links a {
    font-size: 0.5rem !important
    }
  }

  @media only screen and (max-width: 390px) {
    .nav-bar-links a {
    font-size: 0.95rem !important
    }
  }
  
  @media only screen and (max-width: 350px) {
    .nav-bar-links a {
    font-size: 0.8rem !important
    }
  }
  @media only screen and (max-width: 330px) {
    .nav-bar-links a {
    font-size: 0.75rem !important
    }
  }
  @media only screen and (max-width: 310px) {
    .nav-bar-links a {
    font-size: 0.7rem !important
    }
  }
  @media only screen and (max-width: 300px) {
    .nav-bar-links a {
    font-size: 0.65rem !important
    }
  }
  @media only screen and (max-width: 290px) {
    .nav-bar-links a {
    font-size: 0.6rem !important
    }
  }
  @media only screen and (max-width: 285px) {
    .nav-bar-links a {
    font-size: 0.5rem !important
    }
  }
  @media only screen and (max-width: 205px) {
    .nav-bar-links a {
    font-size: 0.4rem !important
    }
  }  @media only screen and (max-width: 190px) {
    .nav-bar-links a {
    font-size: 0.38rem !important
    }
  }
  @media only screen and (max-width: 180px) {
    .nav-bar-links a {
    font-size: 0.37rem !important
    }
  }
  @media only screen and (max-width: 170px) {
    .nav-bar-links a {
    font-size: 0.36rem !important
    }
  }
  @media only screen and (max-width: 160px) {
    .nav-bar-links a {
    font-size: 0.35rem !important
    }
  }
  @media only screen and (max-width: 150px) {
    .nav-bar-links a {
    font-size: 0.34rem !important
    }
  }
  @media only screen and (max-width: 140px) {
    .nav-bar-links a {
    font-size: 0.33rem !important
    }
  }
  @media only screen and (max-width: 130px) {
    .nav-bar-links a {
    font-size: 0.32rem !important
    }
  }
  @media only screen and (max-width: 120px) {
    .nav-bar-links a {
    font-size: 0.31rem !important
    }
  }

  .nav-bar-stack {
    width: 2.5rem;
    justify-self: end;
    display: inline-block;
    background: none;
    border: none;
  }

  .nav-bar-links {
    position: absolute;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    top: 0;
    left: -50%;
    z-index: 100;
  }

  .nav-bar-links li {
    flex-direction: column;
  }

  a {
    color: #FFFFFF;
  }

  .nav-bar .expanded {
    background-color: #495E57;
  }
  

  ul.nav-bar-links.expanded {
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
  }
}
