.about-us {
    grid-template-columns: 4fr 4fr;
    gap: 3.5rem;
    margin-top: 2.5rem;
  }
  
  .about-us-description {
    grid-column: 1;
  }
  
  /* .textstroke {
    -webkit-text-stroke: 0.5px #F4CE14;
  } */
  
  .about-us-description p {
    margin: 0.5em 0;
  }



  .about-us-image-div1 img.about-us-image-team1 {
    transition-duration: 4s; /* vendorless fallback */
    -o-transition-duration: 4s; /* opera */
    -ms-transition-duration: 4s; /* IE 10 */
    -moz-transition-duration: 4s; /* Firefox */
    -webkit-duration: 4s; /*safari and chrome */
  }
  .about-us-image-div2 img.about-us-image-team2 {
    transition-duration: 4s; /* vendorless fallback */
    -o-transition-duration: 4s; /* opera */
    -ms-transition-duration: 4s; /* IE 10 */
    -moz-transition-duration: 4s; /* Firefox */
    -webkit-duration: 4s; /*safari and chrome */
  }

  .about-us-image-div3 img.about-us-image-team3  {
    transition-duration: 4s; /* vendorless fallback */
    -o-transition-duration: 4s; /* opera */
    -ms-transition-duration: 4s; /* IE 10 */
    -moz-transition-duration: 4s; /* Firefox */
    -webkit-duration: 4s; /*safari and chrome */
  }
  .about-us-image-div1:hover img.about-us-image-team1 {
    transition-duration: 4s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  } 

  .about-us-image-div2:hover img.about-us-image-team2 {
    transition-duration: 4s;
    transition-delay: 0.2s;
    transform: scale(1.1);
  } 

  .about-us-image-div3:hover img.about-us-image-team3 {
    transition-duration: 4s;
    transition-delay: 0.2s;
    transform: scale(1.1);
  } 
  
  
  .about-us-chefs {
    margin: 3em 0;
    padding-left: 3em;
    padding-right: 3em;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 0.5rem;
  }
  
  .about-us-chefs img {
    border-radius: 0.5rem;
    max-width: 40vw;
    margin: 0.25rem;

  }
  

  /* ------------------------------------------------ */
  /* // MEDIA QUERIES BELOW FOR RESPONSIVE DESIGN. // */
  /* ------------------------------------------------ */
  
  .lemonCalc {
    font-size: calc(24px + 0.390625vw) !important;
  }

  @media (min-width: 915px) {
    .about-us-chefs {
      gap: 9rem;    
    }
  } 


  @media (max-width: 915px) {
  .about-us {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  
  .about-us-chefs {
    grid-column: 1;
    flex-direction: row;
    gap: 1rem;
    margin-top: -4rem;
   
  }
  
  .about-us-chefs img {
    max-width: 20vw;
  }
  }
  
  @media (max-width: 715px) {
  .about-us {
    grid-template-rows: repeat(3, auto);
  }
}

  @media (max-width: 715px) {
    .about-us-chefs img  {
      max-width: 20vw;
    }
  }

  
  .about-us-chefs {
    flex-direction: column;
  }
  
  .about-us-chefs img {
    max-width: 100%;
  }


  @media (max-width: 935px) {
    .about-us-description h2 {
      font-size: 18px;
    }
  }


  @media (max-width: 440px) {
    .about-us-description h2 {
      font-size: 18px;
    }
  }


  @media (max-width: 325px) {
    .about-us-description h2 {
      font-size: 16px;
    }
  }
  @media (max-width: 264px) {
    .about-us-description h2 {
      font-size: 14px;
    }
  }