.littleLemonMenuCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.littleLemonMenuImg {
    width: 90vw;
}

.menuTitleCentered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: -55px !important;
}

.menuTitleCentered h1 {
    padding: 1.875rem 0 1.875rem 0;
    font-size: calc(30px + 0.390625vw);
    transition: font-size 0.3s ease; 
    font-weight: bolder;
}

.lemonCalc {
    font-size: calc(24px + 0.390625vw) !important;
}

.emoji {
    font-size: inherit !important;
}

@media (max-width: 400px) {
    .menuTitleCentered {
        width: -5vw;
    }
}

@media (max-width: 470px) {
    .menuTitleCentered h1 {
        font-size: 25px !important;
    }
}

@media (max-width: 380px) {
    .menuTitleCentered h1 {
        font-size: 17px !important;
    }
}

@media (max-width: 360px) {
    .menuTitleCentered h1 {
        font-size: 15px;
    }
}

@media (max-width: 300px) {
    .menuTitleCentered h1{
        font-size: 10px;
    }
}
